.todo-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.add-todo {
  margin-bottom: 20px;
}

.add-todo input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 79%;
  margin-right: 10px;
}

.add-todo input[type='text']:focus {
  outline: none;
  border-color: #007bff;
}

.add-todo button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-todo button:hover {
  background-color: #0056b3;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #c3e6cb;;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list li.completed {
  background-color: #e6c3c3;
  text-decoration: line-through;
}

.todo-list li span {
  flex-grow: 1;
  font-size: 16px;
}

.todo-list li input[type='checkbox'] {
  margin-right: 10px;
  cursor: pointer;
}
